body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.actions {
  display: flex;
  width: 732px;
  justify-content: space-between;
}

.axis path {
  display: none;
}

.x-axis line {
  stroke-opacity: 0.1;
}

.y-axis line {
  stroke-opacity: 0.2;
}

.axis text {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px
}

.y-axis line {
  stroke-dasharray: 1, 2;
  stroke-width: 1;
}

.y-axis .tick text {
  text-anchor: end;
}

.x-axis .tick text {
  font-size: 9px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.region-hover {
  stroke: #000;
  stroke-width: 4px;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.voronoi-show path {
  stroke: red;
  stroke-opacity: 0.2;
}

.root {
  display: flex;
}

//.legend {
//  margin-top: 20px;
//}

.legend-item {
  cursor: pointer;
}

.extra-options-container {
  font-size: 12px;
  margin-top: 5px;
  display: flex;
  width: 145px;
  justify-content: space-between;
  margin-left: 50px
}

.hide-all-option, .show-all-option {
  text-decoration: underline;
  cursor: pointer;
}

.hide-all-option:hover, .show-all-option:hover {
  text-decoration: none;
}

.legend-text, .legend-value {
  font-size: 12px;
}

.dot {
  stroke-width: 1px;
  stroke: white;
}
